@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ========== Sharing CSS =========== */

.btn-gradient{
  color: #fff;
  font-size: 16px;
  font-family: inter;
  font-weight: 500;
  line-height: 20px;
  padding: 12px 16px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
}

/* ========== Header CSS =========== */

header{
  width: 100%;
  background-color: #1b0c2d;
  padding: 20px 0px;
  border-bottom: 1px solid #412567;
}

header .navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar .logo{
  color: #fff;
  font-size: 2.5rem;
}

.navbar .logo-gradient{
  background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.navbar .menu-links{
  display: flex;
  flex-direction: row;
  gap: 40px;
  list-style-type: none;
}

.navbar .menu-links a{
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}


/* ========== Responsive CSS =========== */