@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ========== Sharing CSS =========== */

.header-btn-gradient{
  color: #fff;
  font-size: 16px;
  font-family: inter;
  font-weight: 500;
  line-height: 20px;
  padding: 12px 16px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
}

.btn-gradient{
  color: #fff;
  font-size: 16px;
  font-family: inter;
  font-weight: 500;
  line-height: 20px;
  padding: 12px 16px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
}

.btn-no-gradient{
  color: #00FF88;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  padding: 12px 20px 12px 20px;
  border: 1px solid #00FF88;
  background-color: transparent;
  border-radius: 50px;
}

/* ========== Header CSS =========== */

header{
  width: 100%;
  background-color: #1A0B2E;
  padding: 20px 0px;
  border-bottom: 1px solid #412567;
}

header .navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar .logo{
  color: #fff;
  font-size: 2.5rem;
}

.navbar .logo-gradient{
  background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.navbar .menu-links{
  display: flex;
  flex-direction: row;
  gap: 40px;
  list-style-type: none;
}

.navbar .menu-links a{
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

img.hamburger {
    display: none;
}
/* ========== Banner CSS =========== */

.banner{
  width: 100%;
  height: 760px;
  padding: 100px 0px 60px 0px;
  background-image: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container{
  width: 550px;
  height: 558px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40;
  margin: 0 auto;
  
}

.hero-container .hero-img{
  width: 350px;
  height: 350px;
  margin: 0 auto;
  background-image: url(../assets/hero-circle.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover

}

.hero-container .hero-img .btn-small{
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  position: relative;
  left: 95px;
  bottom: 240px;
  border: none;
  border-radius: 1000px;
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
  background:#00FF88;
  padding: 8px 16px;
}

.banner .hero-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.banner .hero-content h1{
  color: #fff;
  font-size: 60px;
  font-weight: 800;
  line-height: 73px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}

.banner .hero-content p{
  color: #fff;
  font-size: 16px;
  opacity: 0.8;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.banner .hero-btn{
  width: 340px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8;
}


/* ========== Banner CSS =========== */

.podcast-container{
  width: 100%;
  height: 668px;
  background-color: #1A0B2E;

}

.podcast-container .about-podcast{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 80;
  
}

.podcast-container .podcast-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  gap: 80;
  padding: 80px 200px 40px 200px;

}

.podcast-container .podcast-info{
  text-align: center;
}

.podcast-container .podcast-info h2{
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.podcast-container .podcast-info p{
  color: #fff;
  opacity: 0.6;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 20px;
}

hr{
  width: 1200px;
  border: none;
  height: 1px;
  background-color: #2a2a2b; 
  margin: 16px 0;
}

.podcast-container .achivements{
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 140px;
  padding: 80px 0px 40px 0px;
  
}

.podcast-container .achivements h2{
  color: #00FF88;
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-align: center;
  margin-bottom: 16px;
}

.podcast-container .achivements p{
  color: #fff;
  opacity: 0.6;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 24px;
  text-align: center;
  margin-bottom: 20px;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.btn-small {
  animation: moveUpDown 2s ease-in-out infinite;
}

/* ======= Why choose CSS ========= */

.why-choose{
  width: 100%;
  background: rgba(35, 14, 61, 1);
}


.why-choose .why-choose-container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 0px;
}

.why-choose .why-heading h2{
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.why-choose .why-choose-card{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.why-choose .why-choose-card #box-1{
  grid-column: span 1;
  grid-row: span 2;

}

.why-choose .why-choose-card #box-2{
  grid-column: span 2;
  grid-row: span 1;
 
}

.why-choose .why-choose-card #box-3{
  grid-column: span 2;
  grid-row: span 1;
  

}

.why-choose .why-choose-card #box-4{
  grid-column: span 2;
  

}

.why-choose .why-choose-card #box-5{
  background-color: #2b104b;

}

.why-choose .why-choose-card .box{
  background-color: #2b104b;
  padding: 40px;
  border: none;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}

.why-choose .why-choose-card .box h3{
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}

.why-choose .why-choose-card .box p{
  color: #fff;
  opacity: 0.6;
  font-size: 16px;
  line-height: 24px;
}
/* ========== Episodes CSS =========== */

.episodes-container{
  width: 100%;
  background-color: #1A0B2E;
}

.episodes-container .episodes{
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 0px;
}

.episodes-container .episodes h2{
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.episodes .episode-cards{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}


.episodes .episode-cards .epi-cards{
  background-color: #2b104b;
  padding: 0px;
  border: none;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.episodes .episode-cards .epi-card{
  background-color: #2b104b;
  padding: 30px 20px;
  border: none;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap:16px;
}

iframe {
    border-radius: 30px 30px 0px 0px;
}
  

.episodes .episode-cards h3{
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.episodes .episode-cards p{
  color: #fff;
  opacity: 0.6;
  font-size: 16px;
  line-height: 24px;
}

.episodes .episode-cards .hr{
  color: #15ff92;
  opacity: 0.6;
  font-size: 16px;
  line-height: 24px;
}

/* ======== Host section CSS========== */

.host-container{
  width: 100%;
  background-color: #1A0B2E;
}

.host-container .host-info{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-bottom: 120px;
}

.host-container .host-info .host-heading{
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 0px;
}

.host-container .host-details{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  background-color: #2b104b;
  padding: 40px ;
  border: none;
  border-radius: 40px;
}

.host-container .host-bio{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;

}

.host-container .host-bio h2{
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
}

.host-container .host-bio p{
   color: #fff;
   opacity: 0.6;
   font-size: 16px;
   line-height: 24px;
}

.host-container .host-bio .social-links{
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style-type: none;
  
}

.host-container .host-bio .social-link{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  
}

.host-container .host-bio .social-link{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid #494949;
}


/* ========footer CSS========== */

.footer-container{
  width: 100%;
  background-image: url(../assets/footer-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer-container .footer-details{
  width: 1200px;
  height: 412px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.footer-details .logo{
  color: #fff;
  font-size: 4.5rem;
}

.footer-details .logo-gradient{
  background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.footer-details .links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  list-style-type: none;
}

.footer-details .link{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.footer-details .link p{
  color: #fff;
  opacity: 0.6;
  font-size: 16px;
  text-decoration: none;
}
.footer-details p{
  color: #fff;
  opacity: 0.6;
  font-size: 16px;
  text-decoration: none;
}

/* ========== Responsive CSS =========== */

@media screen and (max-width:576px){

  /* =========header section responsive =========*/
  header {
    padding: 0px 0px;
}

  header .navbar {
    max-width: 100%;
    padding: 20px;
    
}

  img.hamburger {
    display: block !important;
}
button.header-btn-gradient {
    display: none;
}
ul.menu-links {
    display: none !important;
}

img.hamburger {
    display: block;
}


  /* ==========Hero Section ========= */
     .banner{
       width: 100%;
       height: 500px;
       padding-top: 50px;
       padding-bottom: 50px;
       background-image: url(../assets/Image.png);
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
  }

    .hero-container{
        width: 400px;
        height: 386px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 40;
        margin: 0 auto;
  }
    .hero-container .hero-img {
        width: 200px;
        height: 200px;
        padding-top: 25px;
        margin: 0 auto;
        background-image: url(../assets/hero-circle.png);
   
  }   

  img.microphone {
    width: 46px;
    height: 70px;
}

.hero-container .hero-img .btn-small {
    position: relative;
    left: 65px;
    bottom: 130px;
  
}
  .banner .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

   .banner .hero-content h1 {
     color: #fff;
     font-size: 40px;

     
 } 

 .banner .hero-content p {
  line-height: 24px;
    padding: 0px 20px;
}

 /* =========about section responsive===================== */
 .podcast-container {
    width: 100%;
    height: auto;
    background-color: #1A0B2E;
}

 .podcast-container .podcast-info {
    padding: 60px 20px 40px 20px;
}

.podcast-container .podcast-info h2{
   font-size: 32px;
}

hr {
    width: 80%;

}
.podcast-container .achivements {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 25px 40px 25px;
}

.podcast-container .achivements h2 {
    font-size: 40px;
    
}

/* ========why choose us section responsive=========== */

.why-choose .why-choose-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 60px 0px;
}
.why-choose .why-heading h2 {
    font-size: 32px;
    margin-bottom: 0px;

}
.why-choose .why-choose-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding: 20px;
}

/* =========Episodes section responsive=========== */

.episodes-container .episodes {
    max-width: 100%;
    margin: 0 auto;
    padding: 60px 0px 40px 0px;
}

.episodes-container .episodes h2 {
    font-size: 32px;
    margin-bottom: 10px;
}
.episodes .episode-cards { 
    flex-wrap: wrap;
    padding: 20px;
}
iframe {
    border-radius: 30px 30px 0px 0px;
    width: 100%;
}
.episodes .episode-cards h3 {
    font-size: 20px;
}


/* ============ host section  responsive======== */

.host-container .host-info {
    max-width: 100%;
    margin: 0 auto;
    padding: 0px 20px 60px 20px;
}

.host-container .host-info .host-heading {
    font-size: 32px;
}

.host-container .host-details {
    max-width: 100%;
    flex-direction: column;
    padding: 40px 20px;
}

.host-container .host-bio {
    max-width: 100%;
    align-items: center;

}

.host-container .host-bio h2 {
    color: #fff;
    font-size: 24px;
}

.host-container .host-bio p{
  text-align: center;
}
/* ======== footer section responsive=========== */

.footer-container {
    width: 100%;
    background-image: url(../assets/Image\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.footer-container .footer-details {
    width: 100%;
    height: 300px;
    gap: 30px;
    justify-content: flex-start;
    padding-top: 40px;
    
}

.footer-details .logo {
    color: #fff;
    font-size: 2.5rem;
}

.footer-details .links {
    flex-wrap: wrap;
    gap: 25px;
    padding: 0px 60px;
   
  
}

.footer-details p {
    font-size: 15px;
    text-align: center;
}

}